<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<h1>* Your article *</h1>
<h2><%= @article.title%></h2>
<p><%= @article.content%></p>
<%= link_to "Back to the list", articles_path%>

<%= link_to " Edit an article", edit_article_path%>
<%= link_to " Delete article", article_path,
      method: :delete,
      data: { confirm: "Are you sure?" } %>
