<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbar-supported-content">
        <%= link_to " Wikinimous",  articles_path, style:'color:black;'%>
      </div>
      <div class="collapse navbar-collapse" id="navbar-supported-content">
        <%= link_to " New Article", new_article_path,style:'color:black;'%>
      </div>
    <!--  <a class="nav-link" href=<%articles_path%>>Wikinimous <span class="sr-only">(current)</span></a>
    <a class="nav-link" href=<%new_article_path%>>New Article <span class="sr-only">(current)</span></a> -->
    </nav>
    <%= yield %>
  </body>
</html>
